body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: rgba(49, 127, 245, 0.6);
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.project, .job {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background: #f4f4f4;
    position: relative;
 }

 #ctt{
    list-style: none;
 }
/* FeedBack */

.section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 60vh; 
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff; 
}

form {
    display: flex;
    flex-direction: column; 
}

input, textarea {
    margin: 20px 0;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(43, 137, 226); 
    color: white; 
    cursor: pointer; 
}

button:hover {
    background-color: rgb(53, 62, 241); 
}